<div class="container__big-card">
    <div class="big-card__photo">
      <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwjWusJn8XDoU0w-5iKva9FTiW7GybI81F1A&usqp=CAU">
    </div>
    <div class="big-card__title">
      <a href="#">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
      </a>
    </div>

    <div class="big-card__description">
      <a href="#">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias repudiandae iure accusamus corrupti quod error quidem deleniti dolor, est molestiae! Vitae, ex autem dolores sequi aspernatur quisquam expedita quo culpa.</p>
      </a>
    </div>

</div>
